.login-form {
    max-width: 300px;
    margin: auto;
    padding-top: 300px;
  }
   .login-form-forgot {
    float: right;
  }
   .login-form-button {
    width: 100%;
  } 

  .login{
    height: 100vh;
    width: 100vw;
    background: url("../../assets/bgblue.jpg");
    background-size: 100% 100%;
  }